
qcal/__pycache__/circuits.cpython-37.pyc

.hypothesis/unicode_data/11.0.0/charmap.json.gz

__pycache__/config.cpython-37.pyc

qcal/__pycache__/config.cpython-37.pyc

qcal/__pycache__/__init__.cpython-39.pyc

qcal/__pycache__/

.DS_Store
